{{define "article-list.gohtml"}}
{{range .Articles}}
<div class="article">
    <a href="{{.URL}}" target="_blank">{{.Title}}</a>
    {{if .PublishedDate}}
        <span class="date">- {{.PublishedDate.Format "2006-01-02"}}</span>
    {{end}}
</div>
{{else}}
<p>No articles to display. Add some blogs using the blogwatcher CLI to get started.</p>
{{end}}
{{end}}
