{{define "index.gohtml"}}
{{template "base" .}}
{{end}}

{{define "title"}}BlogWatcher{{end}}

{{define "content"}}
<div class="app-layout">
    {{template "sidebar.gohtml" .}}

    <main id="main-content" class="main-content">
        <h1>Inbox</h1>
        {{template "article-list.gohtml" .}}
    </main>
</div>
{{end}}
